{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" class="bg-dark p-3">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="Username">
        </div>
        <br>
        <div class="form-group">
          <input type="email" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" placeholder="Email Address">
        </div>
        <br>
        <div class="form-group">
          <input type="password" class="form-control" id="{{ form.password1.id_for_label }}" name="{{ form.password1.name }}" placeholder="Password">
        </div>
        <br>
        <div class="form-group">
          <input type="password" class="form-control" id="{{ form.password2.id_for_label }}" name="{{ form.password2.name }}" placeholder="Confirm Password">
        </div>
        <br>
        <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
      </form>
      <div class="text-center mt-3">
        <a href="{% url 'login' %}">Already have an account? Sign in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}