{% extends 'base.html' %}

{% block content %}
    <div class="row-gap-5">
    <form method="post" action="{% url 'post' %}">
        {% csrf_token %}
        <div class="form-floating center">
            <textarea name="text" rows="5" cols="40" class="form-control bg-dark text-light col" placeholder="Post" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Create a new post here...</label>
        </div>
        <style>
            textarea {
                width: 100%;
                max-width: 600px;
            }
            .center {
                max-width: 500px;
                margin: 0 auto;
              }
        </style>
        <br>
        <button type="submit" class="btn btn-primary" value="Post">Post</button>
    </form>
    <br>
    <br>
    <br>
    <h2>Recent Posts</h2>
    {% for post in posts%}
        <br>
        <p>{{ post.created_at }} - <b>{{ post.user.username }}</b></p>
        <p>{{ post.text }}</p>
        <br>
    {% empty %}
        <li>No posts yet.</li>
    {% endfor %}
    </div>

{% endblock %}